<div class="c-textarea{{#if className}} {{ className }}{{/if}}">
  <textarea 
    id="{{ id }}" 
    name="{{ name }}" 
    value="{{ value }}"
    placeholder="{{ placeholder }}"
  ></textarea>
</div>
