<div class="c-input{{#if className}} {{ className }}{{/if}}">
  <label for="{{ id }}">{{ label }}:</label>
  <input type="{{ type }}" id="{{ id }}" name="{{ name }}" value="{{ value }}" {{ required }} />
</div>
