<section class="c-chat">
  <div class="c-chat__sidebar">
    <div class="c-chat__profile">
      {{{ ButtonAddChat }}}
      {{{ Link }}}
    </div>
    <div class="c-chat__search">
      {{> Input label="Поиск" id="search_chat" name="search_chat" className="c-input-search" }}
    </div>
    <div class="c-chat__list" id="chat-list">
      {{{ ChatList }}}
    </div>
  </div>

  <div class="c-chat__box{{#if className}} {{ className }}{{/if}}">
    {{#if isChatSelected}}
      <section class="c-chat-box-empty">
        <p>Выберите чат чтобы отправить сообщение</p>
      </section>
    {{/if}}
    {{{ ChatBox }}}
  </div>

  {{#> Popup popupTitle=titlePopupAddChat className="c-chat_add-chat" isPopupShow=isPopupAddChat }}
    <form id="formAddChat">
      <div class="c-input c-input_focus c-chat_add-chat">
        <label for="title">Название чата</label>
        <input type="text" id="title" name="title" autofocus>
      </div>
      {{{ ButtonPopupAddChat }}}
    </form>
  {{/ Popup }}
</section>
