<section class="c-chat-box">
  <div class="c-chat-box__header">
    <div class="c-chat-box__user c-chat-box-user">
      <div class="c-chat-box-user__avatar">
        {{#if avatar}} 
          <img src="{{ avatar }}" alt="{{ title }}" />
        {{/if}}
      </div>
      <div class="c-chat-box-user__name">
        {{ title }}
      </div>
      <div class="c-chat-box-user__menu c-chat-box-user-menu">
        <div class="c-chat-box-user-menu__toggle">
          <span class="c-chat-box-user-menu__kebab"></span>
        </div>
        <div class="c-chat-box-user-menu__dropdown">
          {{{ ButtonRemoveUser }}} /
          {{{ ButtonAddUser }}} пользователя
          {{{ ButtonRemoveChat }}}
        </div>
      </div>
    </div>
  </div>
  <div class="c-chat-box__messages">
    <div class="c-chat-box-messages">
      {{{ ListMessages }}}
    </div>
  </div>
  <div class="c-chat-box__action">
    <form id="formMessage" class="c-chat-box-action">
      <div class="c-chat-box-action__attach" onclick="console.log('attach menu')"></div>
      <div class="c-chat-box-action__text">
        {{{ Textarea }}}
      </div>
      <div class="c-chat-box-action__send">
        {{{ Button }}}
      </div>
      <input type="hidden" id="id-chat" name="id-chat" value="{{ id }}"/>
    </form>
  </div>

  {{#> Popup popupTitle=titlePopupAddUser className="c-chat_add-user" isPopupShow=isPopupAddUser }}
    <form id="formAddUser">
      <div class="c-input c-input_focus c-chat_add-user">
        <label for="userId">ID пользователя</label>
        <input type="text" id="userId" name="userId" autofocus>
        <input type="hidden" id="chatId" name="chatId" value="{{ id }}"/>
      </div>
      {{{ ButtonPopupAddUser }}}
    </form>
  {{/ Popup }}

  {{#> Popup popupTitle=titlePopupRemoveUser className="c-chat_remove-user" isPopupShow=isPopupRemoveUser }}
    <form id="formRemoveUser">
      <div class="c-input c-input_focus c-chat_remove-user">
        <label for="userId">ID пользователя</label>
        <input type="text" id="userId" name="userId" autofocus>
        <input type="hidden" id="chatId" name="chatId" value="{{ id }}"/>
      </div>
      {{{ ButtonPopupRemoveUser }}}
    </form>
  {{/ Popup }}

  {{#> Popup popupTitle=titlePopupRemoveChat className="c-chat_remove-chat" isPopupShow=isPopupRemoveChat }}
    <form id="formRemoveChat" class="form-remove-chat">
      <input type="hidden" id="chatId" name="chatId" value="{{ id }}"/>
      {{{ ButtonPopupRemoveChat }}}
      <div class="form-remove-chat__close">
        <span onclick="document.querySelector('.c-chat_remove-chat').style.display='none'">
          Отмена
        </span>
      </div>
    </form>
  {{/ Popup }}
</section>
