{{#> LayoutAuth title=text }}
  <div class="c-page c-page-signin">
    <form id="formSignin" class="c-page-signin__form c-form-auth">
      <div class="c-form-auth__fields">
        {{{ InputEmail }}}
        {{{ InputLogin }}}
        {{{ InputFirstName }}}
        {{{ InputSecondName }}}
        {{{ InputPhone }}}
        {{{ InputPassword }}}
        {{{ InputPasswordRepeat }}}
      </div>
      {{{ Button }}}
    </form>
    <div class="c-page-signin__link">
      {{{ Link }}}
    </div>
  </div>
{{/ LayoutAuth }}
