<div 
  class="c-chat-item{{#if className}} {{ className }}{{/if}}"
  id="{{ id }}"
>
  <div class="c-chat-item__avatar"></div>
  <div class="c-chat-item__content">
    <span>{{ userName }}</span>
    <p>{{ message }}</p>
  </div>
  <div class="c-chat-item__info">
    <span class="c-chat-item__date">{{ date }}</span>
    <b class="c-chat-item__unread">{{ unread }}</b>
  </div>
</div>
