<div 
  class="c-chat-item{{#if active}} c-chat-item_active{{/if}}"
  id="{{ id }}"
>
  <div class="c-chat-item__avatar"></div>
  <div class="c-chat-item__content">
    <span>{{ userName }}</span>
    <p>{{ message }}</p>
  </div>
  <div class="c-chat-item__info">
    <span class="c-chat-item__date">{{ date }}</span>
    {{#if unread}} 
      <b class="c-chat-item__unread">{{ unread }}</b>
    {{/if}}
  </div>
</div>
